* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0);
}

header {
  background-color: Silver;
  padding: 2rem;
  border-radius: 25px;
  margin: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

aside {
  background-color: silver;
  padding: 1rem;
  border-radius: 25px;
  margin: 0.25rem 0.25rem 0.5rem 0.5rem;
}

main {
  padding: 1rem;
  border-radius: 25px;
  background-color: Gainsboro;
  margin: 0.25rem 0.5rem 0.5rem 0.25rem;
}

.horizontal-links {
  display: flex;
  flex-direction: column;
}

a {
  padding: 10px;
}

/* Content start */

.preHeader {
  background-color: #ddd;
  padding: 1rem;
  border-radius: 25px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 gleich große Spalten */
  gap: 20px; /* Abstand zwischen den Spalten */
  padding: 20px;
}

/* Jede Spalte (To Do, In Progress, Done) */
.column {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.ticket {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.ticket:hover {
  transform: scale(1.05);
}
.inprogress {
  text-align: end;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}


/* Content end */

/* SupportIssues start*/

.support-issues {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 80vh;
  font-family: Arial, sans-serif;
}

.support-issues h1,
.support-issues h2,
.support-issues h3 {
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.support-issues h1 {
  font-size: 2rem;
  font-weight: bold;
}

.support-issues h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.support-issues h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.support-issues .support-list {
  list-style-type: decimal;
  margin: 20px 0;
  padding-left: 20px;
  width: 100%;
  max-width: 600px;
}

.support-issues .support-list div {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #555;
}

.support-issues .support {
  margin: 10px 0;
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.support-issues img {
  margin: 20px 0;
  max-width: 50%;
  height: auto;
  border-radius: 30px;
}

/* SupportIssues end*/

/* User */
.user-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 20px;
}

.user-management h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container label {
  margin-bottom: 15px;
  font-size: 1rem;
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button:hover {
  opacity: 0.8;
}

.button-group button:first-child {
  background-color: #007bff;
  color: white;
}

.button-group button:last-child {
  background-color: #6c757d;
  color: white;
}

/* User end*/

/* HomePage */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.welcome-container {
  text-align: center;
  max-width: 800px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.home-page h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.home-page h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px; 
}


.home-page p {
  font-size: 1.25rem;
  color: #666;
  margin-bottom: 20px;
}

.intro {
  margin: 20px 0;
}

.intro h2 {
  font-size: 2rem;
  color: #333;
}

.intro p {
  font-size: 1.15rem;
  color: #555;
}

.action-buttons {
  margin-top: 20px;
}

.action-buttons button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-buttons button:hover {
  background-color: #0056b3;
}

/* HomePage end */

/* Popup-Fenster */
.column button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
  text-align: center;
}

.column button:hover {
  background-color: #0056b3;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.popup-content h3 {
  margin-top: 0;
  color: #333;
}

.popup-content input,
.popup-content textarea,
.popup-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.popup-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.popup-content .cancel-button {
  background-color: #dc3545;
}

.popup-content .cancel-button:hover {
  background-color: #c82333;
}

/* Popup-Fenster end */

/* Board */

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: auto;
  color: #000000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h4 {
  margin: 0;
  font-size: 18px;
}

.sidebar span {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.horizontal-links {
  margin-top: 20px;
}

.horizontal-links a {
  display: block;
  background-color: WhiteSmoke;
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.horizontal-links a:hover {
  background-color: #0056b3;
  color: #fff;
}

.horizontal-links a.active {
  background-color: #007bff;
  color: #fff;
}

.board {
  flex: 1;
  padding: 20px;
}

/* Board end */

/* Statistic */
.statistics {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: auto;
  margin: 0 auto;
  text-align: center;
}

.statistics h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.chart-container {
  max-width: 500px;
  margin: 0 auto;
}

/* Statistic end */

.search-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.filter-container {
  background-color: white;
  padding: 2rem;
  margin: 1rem 0rem 1rem 0rem;
  border-radius: 30px;
  border: 1px solid silver;
}

.user-results {
  margin-bottom: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 30px;
  border: 1px solid silver;
  
}

.user-results ul {
  list-style-type: none;
  padding: 0;
}

.user-results li {
  padding: 5px 0;
}

/* CreateUser  */
.create-user {
  padding: 2rem;
  border: 1px solid silver;
  border-radius: 4px;
  background-color: white;
  margin-top: 20px;
  border-radius: 30px;
}


input,
select {
  padding: 5px;
  border: 1px solid silver;
  border-radius: 4px;
}

.create-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

/* CreateUser end */










