* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

header {
  background-color: bisque;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
}

.container {

  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;

}

aside {
  background-color: lightgray;
  padding: 1rem;
  border-radius: 20px;
}

main {
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.486);
}

.horizontal-links {
  display: flex;
  flex-direction: column;
}

a {
  padding: 10px;

}

/* Content start */

.ticket {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



/* Content end */

