* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  background: rgb(0, 0, 0);
}

header {
  background-color: #afafaf;
  width: 100%;
  padding: 2rem;
  border-radius: 25px;
}

.container {

  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;

}

aside {
  background-color: #bfc0c4;
  padding: 1rem;
  border-radius: 25px;
}

main {
  padding: 1rem;
  border-radius: 25px;
  background-color: rgb(211, 211, 211);
}

.horizontal-links {
  display: flex;
  flex-direction: column;
}

a {
  padding: 10px;

}

/* Content start */

.preHeader {
  background-color: #ddd;
  padding: 1rem;
  border-radius: 25px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 gleich große Spalten */
  gap: 20px; /* Abstand zwischen den Spalten */
  padding: 20px;
}

/* Jede Spalte (To Do, In Progress, Done) */
.column {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}

/* Die Tickets innerhalb der Spalten */
.ticket {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Hover-Effekt für die Tickets */
.ticket:hover {
  transform: scale(1.05);
}
.inprogress {
  text-align: end;
}

/* Content end */

